<!DOCTYPE html>
<html ng-app="demoApp">
<head>
  <script type="text/javascript" src="../../../bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="../../filter/makeLink.js"></script>
  <script type="text/javascript" src="tag-href.js"></script>
  <script>
    var app = angular.module('demoApp', ['component.tag-href']);

  </script>
</head>
<body>
  <h1>component.tag-href</h1>
  <blockquote>
    <p ng-repeat="tag in ['JavaScript', 'HTML5', 'C#']">
      &lt;a tag-href="{{tag}}" &hellip;&gt;{{tag}}&lt;/a&gt; &rArr; <a tag-href="tag">{{tag}}</a>
    </pre>
  </blockquote>
</body>
</html>