.bookmark-table tbody tr td:first-child button {
    margin-bottom: 5px;
}

.bookmark-table tbody tr td:nth-child(2) a {
    display: block;
    text-decoration: none;
}

.bookmark-table tbody tr td:nth-child(2) a:hover {
    color: red;
}

.bookmark-table tbody tr td:nth-child(2) span {
    display: block;
}

.bookmark-table tbody tr td:nth-child(2) span:first-child {
    font-weight: bold;
}

.bookmark-table tbody tr td:nth-child(2) span:nth-child(2) {
    color: black;
}

/* Tags should be inline */
.bookmark-table tbody tr td:nth-child(2) .ng-scope {
    display: inline-block;
    margin-right: 5px;
}

.bookmark-table input {
    width: 100%;
    margin-bottom: 10px;
}

.glyphicon-remove {
    vertical-align: top;
}

bookmark-list table {
    margin: 0px 0px !important;
}

bookmark-list .pagination {
    margin: 0px 0px !important;
}

kbd {
    padding: .1em .6em;
    border: 1px solid #ccc;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
}

shortcut {
    margin-right: 10px;
}