<h3>
  Filtered by Tag: <b>{{filterTag || 'None'}}</b>
  <span ng-hide="filterTag===''">
    <button ng-click="clearFilter()" class="btn btn-xs glyphicon glyphicon-remove" title="Clear Filter"></button>
  </span>
</h3>
<p class="text-muted">
  <shortcut key-code="27" do="clearFilter()" ng-hide="filterTag===''">
    <kbd>Esc</kbd> Clear Filter
  </shortcut>
  <shortcut-group ng-show="filterCount > perPage">
    <shortcut ctrl-key key-identifier="Left" do="firstPage()">
      <kbd>Ctrl</kbd>+<kbd>&larr;</kbd> First Page
    </shortcut>
    <shortcut key-code="65" do="prevPage()"></shortcut>
    <shortcut key-identifier="Left" do="prevPage()">
      <kbd>&larr;</kbd> Previous Page
    </shortcut>
    <shortcut key-code="68" do="nextPage()"></shortcut>
    <shortcut key-identifier="Right" do="nextPage()">
      <kbd>&rarr;</kbd> Next Page
    </shortcut>
    <shortcut ctrl-key key-identifier="Right" do="lastPage()">
      <kbd>Ctrl</kbd>+<kbd>&rarr;</kbd> Last Page
    </shortcut>
  </shortcut-group>
</p>
<pagination ng-show="filterCount > perPage" total-items="filterCount" ng-model="currentPage" max-size="10" items-per-page="perPage" rotate="false" class="pagination-sm"></pagination>
<table class="bookmark-table table table-striped">
  <tbody>
  <tr ng-repeat="bookmark in bookmarks | byTag:filterTag:'filterCount' | limitTo:perPage:(currentPage-1)*perPage" >
    <td>
      <button class="btn btn-warning btn-sm glyphicon glyphicon-edit" title="Edit Bookmark"></button><br/>
      <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-click="remove(bookmark)" title="Delete Bookmark"></button>
    </td>
    <td>
      <a href="{{bookmark.u}}" target="_blank">
        <span ng-bind="bookmark.t"></span>
        <span ng-bind="bookmark.d"></span>
      </a>
      <div ng-repeat="tag in bookmark.tags">
        <a tag-href="tag" class="label label-success">
          <i class="glyphicon glyphicon-tag"></i>
          {{tag}}
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<pagination ng-show="filterCount > perPage" total-items="filterCount" ng-model="currentPage" max-size="10" items-per-page="perPage" rotate="false" class="pagination-sm"></pagination>