<!DOCTYPE html>
<html ng-app="demoApp">
<head>
  <script type="text/javascript" src="../../../bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="get-bookmarks.js"></script>
  <script>
    var app = angular.module('demoApp', ['component.get-bookmarks']);

  </script>
</head>
<body>
  <h1>component.get-bookmarks</h1>
  <get-bookmarks from-src="../../data/dmoz_part.json" store-bookmarks-to="list1" store-tags-to="list2"></get-bookmarks>
  Number of bookmarks: {{list1.length}}<br/>
  <blockquote>
    <div ng-repeat="item in list1|limitTo:5">
      {{item|json}}
    </div>
    &hellip;
  </blockquote>
  Number of tags: {{list2.length}}</br>
  <blockquote>
    <div ng-repeat="item in list2">
      {{item|json}}
    </div>
  </blockquote>
</body>
</html>